<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">

    <% include head %>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <% include header %>
       
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">

                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">About</h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src=" images/about-header.jpeg" border="0" alt="">
                    </div>

                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">What I offer</h3>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                          
                            <div class="skillbar clearfix " data-percent="95%">
                                <div class="skillbar-title" style="background: #d35400;"><span>Angular</span></div>
                                <div class="skillbar-bar" style="background: #e67e22;"></div>
                                <div class="skill-bar-percent">95%</div>
                            </div> <!-- End Skill Bar -->
                            
                            <div class="skillbar clearfix " data-percent="90%">
                                <div class="skillbar-title" style="background: #2980b9;"><span>React</span></div>
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                                <div class="skill-bar-percent">90%</div>
                            </div> <!-- End Skill Bar -->
                            
                            <div class="skillbar clearfix " data-percent="95%">
                                <div class="skillbar-title" style="background: #2c3e50;"><span>Node.Js</span></div>
                                <div class="skillbar-bar" style="background: #2c3e50;"></div>
                                <div class="skill-bar-percent">95%</div>
                            </div> <!-- End Skill Bar -->
                            
                            <div class="skillbar clearfix " data-percent="100%">
                                <div class="skillbar-title" style="background: #46465e;"><span>CSS3</span></div>
                                <div class="skillbar-bar" style="background: #5a68a5;"></div>
                                <div class="skill-bar-percent">100%</div>
                            </div> <!-- End Skill Bar -->
                            
                            <div class="skillbar clearfix " data-percent="90%">
                                <div class="skillbar-title" style="background: #333333;"><span>Databases</span></div>
                                <div class="skillbar-bar" style="background: #525252;"></div>
                                <div class="skill-bar-percent">90%</div>
                            </div> <!-- End Skill Bar -->
                            
                            <div class="skillbar clearfix " data-percent="85%">
                                <div class="skillbar-title" style="background: #124e8c;"><span>SEO</span></div>
                                <div class="skillbar-bar" style="background: #4288d0;"></div>
                                <div class="skill-bar-percent">85%</div>
                            </div> <!-- End Skill Bar -->    

                            <div class="skillbar clearfix " data-percent="100%">
                                <div class="skillbar-title" style="background: #d50000;"><span style="font-size: 11px;">Self Learning</span></div>
                                <div class="skillbar-bar" style="background: #ff5131;"></div>
                                <div class="skill-bar-percent">100%</div>
                            </div> <!-- End Skill Bar -->    


                        </div>



                    
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">Who am I?</h3>
                        <div class="social-media">
                            <div class="linkedin">
                                <a target="_blank" href="https://www.linkedin.com/in/subhannaeem/"><img src="/images/linkedin_logo.png"></a>
                            </div>
                            <div class="github">
                               <a target="_blank" href="https://github.com/submetu" ><img src="/images/github_logo.svg"></a>
                            </div>
                        </div>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                            <p>
                                Software Engineer with a demonstrated history of working in the internet industry. 
                                Skilled in Front/ back-end Web technologies. Experienced in discussing requirements with clients, 
                                proposing solutions, ensuring a pleasant user experience, maintaining databases, running tests and 
                                performing quality assurance. Strong engineering professional with a Bachelor’s Degree focused in 
                                <strong>Mechanical Engineering</strong> along with a minor degree in <strong>Mechatronics</strong> from 
                                <a href="https://www.metu.edu.tr/">Middle East Technical University</a>, 
                                Turkey.
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <% include footer %> 
        </main>
    </div>
    <% include scripts %>  
</body>

</html>
