<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
            <div class="social-media">
                <div class="linkedin">
                    <a target="_blank" href="https://www.linkedin.com/in/subhannaeem/"><img src="/images/linkedin_logo.png"></a>
                </div>
                <div class="github">
                   <a target="_blank" href="https://github.com/submetu" ><img src="/images/github_logo.svg"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li>
                <!-- <a href="#">Help</a> -->
            </li>
            <li>
                <!-- <a href="#">Privacy & Terms</a> -->
            </li>
        </ul>
    </div>
</footer>