<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-logo-row">
        <span class="mdl-layout__title">
            <span style="cursor: pointer;" onClick="location.href='/'" class="mdl-layout__title">Subhan Naeem - Developer</span>
            <div class="portfolio-logo"></div>
        </span>
    </div>
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
        <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
            <a class="mdl-navigation__link " href="/">Portfolio</a>
            <!-- <a class="mdl-navigation__link" href="blog">Blog</a> -->
            <a class="mdl-navigation__link" href="about">About</a>
            <a class="mdl-navigation__link" href="contact">Contact</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link " href="/">Portfolio</a>
        <!-- <a class="mdl-navigation__link" href="blog">Blog</a> -->
        <a class="mdl-navigation__link" href="about">About</a>
        <a class="mdl-navigation__link" href="contact">Contact</a>
    </nav>
</div>