<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
    <% include head %>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <% include header %>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Contributing Writer at &nbsp;<a target="_blank" href="http://itnext.io"> ITNEXT</a></h2>
                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src="https://cdn-images-1.medium.com/max/2000/1*ma9d-RAMyT08tZxJB4WhIA.png" border="0" alt="Contributing writer for ITNEXT">
                    </div>
                    <div class="mdl-card__supporting-text">
                        <strong>Includes</strong>
                        <span>articles about Angular, Git and Software in general</span>
                    </div>
                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">How it started</h3>
                        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                            <p>
                                I started wrting medium articles a while ago about my journey as a developer. 
                                My first account on medium failed horribly as I knew nothing at the time abot
                                blogging. Naturally I didn't pursue it and forgot about it. A few months back 
                                I got into it again after reading some interviews from developers at Google. 
                                All of them advocate blogging as a developer and I was hooked again. 
                                After writing a few short articles, I was found by ITNEXT on Medium. I've been 
                                writing for them since. My article started getting read more than 500% and a few
                                people have been commenting here and there. It feels good to help people who face 
                                the same obstacles that I faced. 
                            </p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <img class="article-image shadow" src=" images/portfolio-example-02.jpg" border="0" alt="">
                        </div>
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"></h3>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a target="_blank" href="https://itnext.io/automate-deployment-with-webhooks-18735f1c7f84">
                                <img class="article-image hover-zoom shadow" src="/images/itnext_1.jpeg" border="0" alt="automate deployment with webhooks">
                            </a>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding ">
                            <p>
                                Since then I have wrote several articles but I only published 3 of them to ITNEXT. 
                                I do new things at my job every day but not all of them are worth publishing. Whenever
                                I think something is valuable enought for more than a couple thousand people to see, 
                                I publish it there. I try to make my articles a bit funny with memes here and there. However, 
                                I keep it precise and relevant at all times. I avoid random topics and I don't share pictures 
                                of cats. Its been working out well for me.
                            </p>
                        </div>
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"></h3>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a target="_blank" href="https://itnext.io/angular-code-design-for-responsive-websites-acd4259a478c">
                                <img class="article-image hover-zoom shadow" src="/images/itnext_2.jpeg" border="0" alt="angular code design for responsive websites">
                            </a>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a target="_blank" href="https://itnext.io/angular-create-your-own-modal-boxes-20bb663084a1">
                                <img class="article-image hover-zoom shadow" src="/images/itnext_3.jpeg" border="0" alt="create your own modal boxes">
                            </a>
                        </div>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                            <p>
                                I try to write atleas two articles a month. But sometimes other things get in the way. 
                                I like to blog on my own. Writing frequently about things I find interesting or the things
                                that made me hit a road block. You can follow me on <a target="_blank" href="https://medium.com/@sub.metu"><strong>Medium </strong></a> and see if something
                                interests you. Developer or not, you should get into writing about your experiences. Believe it or not,
                                there are always people who can benefit from it. Also sometimes it helps in finding jobs ;)
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% include footer %> 
        </main>
    </div>
    <% include scripts %> 
</body>

</html>