<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
    <% include head %>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <% include header %>
        <main class="mdl-layout__content">
            <div class="mdl-grid portfolio-max-width">
                <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">Frontend Consultant at &nbsp;<a target="_blank" href="https://proteams.net">Proteams</a></h2>

                    </div>
                    <div class="mdl-card__media">
                        <img class="article-image" src="images/proteams-1.png" border="0" alt="Contributing writer for ITNEXT">
                    </div>
                    <div class="mdl-grid portfolio-copy">
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">What did I do here? </h3>
                        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding">
                            <p>
                              I started my programming journey with a freelance.com type of company named <a target="_blank" href="https://proteams.net">Proteams</a>. At the time they were operating in Denmark.
                              But now they have expanded to other areas of Northern Europe as well. I started here as an Anuglar developer but soon I took over
                              the backend. The backend was in Node.Js and most of it was written by a senior developer before me. I learnt a lot here about
                              ORMs and database management. They were using PostgreSQL. 
                            </p>
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <img class="article-image hover-zoom shadow" src="/images/proteams-2.png" border="0" alt="">
                        </div>
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"></h3>
                        <div class="mdl-cell mdl-cell--6-col">
                                <img class="article-image hover-zoom shadow" src="/images/proteams-2.png" border="0" alt="automate deployment with webhooks">
                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-card__supporting-text no-padding ">
                            <p>
                              They were using AngularJS 1.3 at the time and it was my first experience with a Javascript framework. This was back in 2016. Naturally,
                              it was hard at first. But slowly I got used to the paradigms and patterns and began writing super effective directives that were
                              being used by my peers as well. Since this was a remote job, and communication was not our strong suit, documentation was key. I wrote
                              a lot of tests and documentation to make my code accessible to others easily. 
                              As far as CSS was concerned, I was already pretty good at it. I did learn SASS though which helped me understand the value of such frameworks. 
                              
                            </p>
                        </div>
                        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline"></h3>
                        <div class="mdl-cell mdl-cell--6-col">
                                <img class="article-image hover-zoom shadow" src="/images/proteams-3.png" border="0" alt="angular code design for responsive websites">
                        </div>
                        <div class="mdl-cell mdl-cell--6-col">
                            <a target="_blank" href="https://itnext.io/angular-create-your-own-modal-boxes-20bb663084a1">
                                <img class="article-image hover-zoom shadow" src="/images/proteams-4.png" border="0" alt="create your own modal boxes">
                            </a>
                        </div>
                        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
                            <p>
                              The most important thing I learned here was how to create an end-to-end solution for a client's requirement. Often, our clients 
                              reported a bug which required a fix in the frontend as well as the backend. After doing that, I had to make sure that all the 
                              tests passed and whether new tests were needed or not. After that, I had to deploy the application on the server so I got some 
                              DevOps stuff experience under my belt. I still sometimes consult for this company but I formally left this job in the fall of  2017. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% include footer %> 
        </main>
    </div>
    <% include scripts %> 
</body>

</html>